.idea/
.gradle/
fe/node_modules
fe/package-lock.json

prescription-fe/node_modules
prescription-fe/package-lock.json


/service/API_ENDPOINTS_GUIDE.md
/service/CHANGES_SUMMARY.md
/service/README_SAGA_UPDATED.md
/service/SAGA_IMPLEMENTATION_SUMMARY.md
/service/saga.txt


__pycache__/
venv/
.vscode/
intent_model/
ner_model_final/

.env
service/chatbot-service/evaluation/README.md
service/chatbot-service/evaluation/GOOGLE_API_SETUP.md
service/chatbot-service/evaluation/FIX_DEPENDENCIES.md
service/chatbot-service/evaluation/EMBEDDING_CONSISTENCY_FIX.md
.gitignore
service/chatbot-service/evaluation/__init__.py
